.main-header-container{
    padding:20px;
    box-shadow: rgba(37,39,89,0.08) 0px 8px 8px 0;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: #fff;
    .logo-container{
        .logo{
            width: 40px;
            margin-right: 10px;
        }
        .store-title{
            font-size: 25px;
            font-weight: bold;
        }
    }
    .logout-button-container{
        display: flex;
        align-items: center;
        .logout-img{
            padding-left: 8px;
        }
    }
    .cart-img {
        width: 16px;
        // height: 30px;
    }
}